/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/* Ajustes responsivos globais */
* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
